.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .3s ease;
  z-index: 5;
  color: #fff;
  background-color: #33495f;
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 20px;
  @media (max-width: 450px) {
    //padding: 10px 0.5em;
    //max-width: 320px;
    //width: auto;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  nav {
    display: flex;
    justify-content: center;
    gap: 0.5em;
  }

  .logout {
    color: var(--mainWhite);
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
  }

  a {
    color: var(--mainWhite);
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
  }

  .current {
    border: var(--lightBlue) solid 1px;
    background-color: darken(#c8d8e4, 5%);
    box-shadow: 0 0 5px 2px #69bbda;
    color: #69bbda;
  }

  @media (max-width: 450px) {
    padding: 10px 0.5em;
    max-width: 320px;
  }

}

